@import url('bootstrap');
.attore-img{
  height: 240px;
  object-fit: cover;
  object-position: top;
  padding-right: 1rem;
}
.attori{
  background-color: rgb(226, 236, 233);
  height: 350px;
  border: solid black;
  border-radius: 10px;
  margin-top: 1rem;
}
.attore-biography{
  padding: 1rem 0 0 1rem;;
}
.attori-info{
  display: flex;
}
.attore-image{
  
}